<!-- Referências
  https://developers.google.com/web/fundamentals/media/recording-audio
  https://stackoverflow.com/questions/32288722/call-python-function-from-js
  https://flask.palletsprojects.com/en/1.1.x/patterns/jquery/
-->

<!doctype html>
<html>
  <head>
    <title>Tradutor de Frases</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Tradutor de Frases</h1>

    <label for="idiomas">Escolha um idioma:</label>
    <select id="idiomas">
      <option value="pt-br" selected>Português</option>
      <option value="en">Inglês</option>
      <option value="ja">Japonês</option>
      <option value="es">Espanhol</option>
      <option value="de">Alemão</option>
      <option value="it">Italiano</option>
    </select>

    <br/>
    <button id="start">Gravar</button>
    <button id="stop">Parar</button>
    <br/>

    <p>A farse que você disse foi:</p>
    <span id=frase_falada></span>

    <p>A tradução da frase é:</p>
    <span id=frase_traduzida></span>

    <br/>

    <br/>
    <label for="player">Escute a tradução:</label>
    <br/>
    <audio id="player" controls><source id="source" src="" type="audio/mp3"/></audio>

    <script>
      let shouldStop = false;
      let stopped = false;
      const startButton = document.getElementById('start');
      const stopButton = document.getElementById('stop');

      startButton.addEventListener('click', function() {
        shouldStop = false;
        stopped = false;
        $("#source").attr("src", '');
        $("#frase_falada").text('Estou escutando...');
        $("#frase_traduzida").text('');

        navigator.mediaDevices.getUserMedia({ audio: true, video: false })
          .then(handleSuccess);
      });

      stopButton.addEventListener('click', function() {
        shouldStop = true;
        $("#frase_falada").text('Processando...');
        $("#frase_traduzida").text('Processando...');
      });

      function enviaInformacoes(blob) {
        let idioma = $("#idiomas").val();

        fetch("/transcreve", {
          method: "POST",
          body: blob,
        }).then((response) => {
          return response.json();
        }).then((response) => {
          $("#frase_falada").text(response.frase);
          return response.frase;
        }).then((frase) => {
          fetch("/traduz/" + idioma, {
            method: "POST",
            body: JSON.stringify({frase: frase}),
          }).then((response) => {
            return response.json();
          }).then((response) => {
            $("#frase_traduzida").text(response.traducao);
            return response.traducao;
          }).then((traducao) => {
            fetch("/fala/" + idioma, {
              method: "POST",
              body: JSON.stringify({traducao: traducao}),
            }).then((response) => {
              return response.blob();
            }).then((response) => {
              var objectURL = URL.createObjectURL(response);
              $("#source").attr("src", objectURL);
              $("#player")[0].pause();
              $("#player")[0].load();
              $("#player")[0].oncanplaythrough = $("#player")[0].play();
            })
          })
        });
        
      }

      const handleSuccess = function(stream) {
        const options = {mimeType: 'audio/webm'};
        const recordedChunks = [];
        const mediaRecorder = new MediaRecorder(stream, options);

        mediaRecorder.ondataavailable = function(e) {
          if (e.data.size > 0) {
            recordedChunks.push(e.data);
          }

          if(shouldStop === true && stopped === false) {
            mediaRecorder.stop();
            stopped = true;
          }
        };

        mediaRecorder.onstop = function() {
          enviaInformacoes(new Blob(recordedChunks));
        };

        mediaRecorder.start(1000);
      };

    </script>
  </body>
</html>