<!-- Referências
  https://developers.google.com/web/fundamentals/media/recording-audio
  https://stackoverflow.com/questions/32288722/call-python-function-from-js
  https://flask.palletsprojects.com/en/1.1.x/patterns/jquery/
-->

<!doctype html>
<html>
  <head>
    <title>Tradutor de Frases</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row row-cols-3">
        <div class="col"></div>
        <div class="col">
          <div class="jumbotron">
            <h1 class="display-4">Tradutor</h1>
          </div>

          <div class="row">
            <label for="idiomas">Escolha um idioma:</label>
            <select id="idiomas" class="custom-select">
              <option value="pt-br" selected>Português</option>
              <option value="en">Inglês</option>
              <option value="ja">Japonês</option>
              <option value="es">Espanhol</option>
              <option value="de">Alemão</option>
              <option value="it">Italiano</option>
            </select>
          </div>

          <br/>
          <div class="row">
            <button id="start" type="button" class="btn btn-primary col-5">Gravar</button>
            <div class="col-2"></div>
            <button id="stop" type="button" class="btn btn-secondary col-5">Parar</button>
          </div>

          <hr/>

          <div class="row">
            <span>A farse que você disse foi:</span>
          </div>
          <div class="row">
            <span id=frase_falada></span>
          </div>

          <div class="row">
            <span>A tradução da frase é:</span>
          </div>
          <div class="row">
            <span id=frase_traduzida></span>
          </div>

          <br/>

          <div class="row">
            <label for="player">Escute a tradução:</label>
          </div>
          <div class="row">
            <audio id="player" controls>
              <source id="source" src="" type="audio/mp3"/>
            </audio>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      let shouldStop = false;
      let stopped = false;
      const startButton = document.getElementById('start');
      const stopButton = document.getElementById('stop');

      startButton.addEventListener('click', function() {
        shouldStop = false;
        stopped = false;
        $("#source").attr("src", '');
        $("#frase_falada").text('Estou escutando...');
        $("#frase_traduzida").text('');

        navigator.mediaDevices.getUserMedia({ audio: true, video: false })
          .then(handleSuccess);
      });

      stopButton.addEventListener('click', function() {
        shouldStop = true;
        $("#frase_falada").text('Processando...');
        $("#frase_traduzida").text('Processando...');
      });

      function enviaInformacoes(blob) {
        let idioma = $("#idiomas").val();

        fetch("/transcreve", {
          method: "POST",
          body: blob,
        }).then((response) => {
          return response.json();
        }).then((response) => {
          $("#frase_falada").text(response.frase);
          return response.frase;
        }).then((frase) => {
          fetch("/traduz/" + idioma, {
            method: "POST",
            body: JSON.stringify({frase: frase}),
          }).then((response) => {
            return response.json();
          }).then((response) => {
            $("#frase_traduzida").text(response.traducao);
            return response.traducao;
          }).then((traducao) => {
            fetch("/fala/" + idioma, {
              method: "POST",
              body: JSON.stringify({traducao: traducao}),
            }).then((response) => {
              return response.blob();
            }).then((response) => {
              var objectURL = URL.createObjectURL(response);
              $("#source").attr("src", objectURL);
              $("#player")[0].pause();
              $("#player")[0].load();
              $("#player")[0].oncanplaythrough = $("#player")[0].play();
            })
          })
        });
        
      }

      const handleSuccess = function(stream) {
        const options = {mimeType: 'audio/webm'};
        const recordedChunks = [];
        const mediaRecorder = new MediaRecorder(stream, options);

        mediaRecorder.ondataavailable = function(e) {
          if (e.data.size > 0) {
            recordedChunks.push(e.data);
          }

          if(shouldStop === true && stopped === false) {
            mediaRecorder.stop();
            stopped = true;
          }
        };

        mediaRecorder.onstop = function() {
          enviaInformacoes(new Blob(recordedChunks));
        };

        mediaRecorder.start(1000);
      };

    </script>
  </body>
</html>